.close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.alignBottom {
  margin-top: auto;
}

.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: underline;
}

.dateNewIcon {
  align-self: center;
  display: inline-block;
  height: 16px;
  margin-left: 8px;
  vertical-align: middle;
}

.buttonDescription {
  display: flex;
  gap: 8px;
  align-items: center;

  .icon {
    height: 16px;
  }
}

.personAssigned {
  display: flex;
  gap: 8px;
  align-items: center;

  .userIcon {
    width: 16px;
    height: 16px;
  }
}
