@import "~styles/mixins";
.label {
  margin: 24px 0 16px;
  font-weight: bold;

  &.size20 {
    @include font-size-20;
  }

  &.size14 {
    @include font-size-14;
    margin-bottom: 4px;
  }
}

.alignRight {
  text-align: right;
}

.noTopMargin {
  margin-top: 0;
}
